
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Footer Fragment</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag" />
</head>
<body>
<footer>
    <div id="copyright" class="container">
        版权所有：2017-2018 广州狼码教育科技有限公司 ICP备案 ：粤ICP备字17147191号-1
    </div>
    
</footer>
</body>
</html>