<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title th:text="#{cas.login.pagetitle}">CAS Acceptable Use Policy View</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag" />

</head>

<body id="cas" class="login">
    <div layout:fragment="content">
        <div class="row">
            <div>
                <div th:replace="fragments/loginform" />
            </div>
        </div>
    </div>
</body>
</html>